<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body data-th-object="${order}">
    <h1>Delivery Details</h1>
    <table>
        <tr>
            <td>Order Number: </td>
            <td>
                <a data-th-href="@{/order/{orderId} (orderId=${order.orderId})}"
                    data-th-text="${order.orderId}">
                </a>
            </td>
        </tr>
        <tr>
            <td>Your order will be delivered to </td>
            <td>
                <span data-th-text="${order.getAddress()}"></span>
            </td>
        </tr>
        <tr>
            <td>Pizza cost: </td>
            <td>
                $<span data-th-text="${order.getPizzaCost()}"></span>
            </td>
        </tr>
        <tr data-th-if="${order.isRush}">
            <td>Rush: </td>
            <td>$2</td>
        </tr>
        <tr>
            <td>Total cost: </td>
            <td>
                $<span data-th-text="${order.getTotalcost()}"></span>
            </td>
        </tr>
    </table>
</body>
</html>