<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delivery Details</h1>
    <p>Order ID: <a href="/order/{{pizzaOrder.id}}">{{pizzaOrder.id}}</a></p>
    <p>Delivery Address: {{deliveryDetails.address}}</p>
    <p>Pizza Cost: ${{pizzaOrder.cost}}</p>
    {% if pizzaOrder.isRushOrder %}
        <p>Rush Order Cost: ${{pizzaOrder.rushOrderCost}}</p>
    {% endif %}
    <p>Total Cost: ${{pizzaOrder.totalCost}}</p>
</body>
</html>